// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here



// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)


// 4. Include any default map overrides here

$primary: #F0E9CA;
$secondary: #2c2c2c;
$success: #008000;
$info: #19b5fe;
$warning: #f9c80e;
$danger: #d91e18;
$light: #e0e0e2;
$dark: #723034;

$cordovan: #904E52;

$body-bg: $secondary;
$body-color: $primary;
$link-color: $primary;
$link-hover-color: #fff;
$component-active-color: $dark;
$component-active-bg: $primary;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";


$theme-colors: map-merge($theme-colors, ("primary": $primary,
      "secondary": $secondary,
      "success": $success,
      "info": $info,
      "warning": $warning,
      "danger": $danger,
      "light": $light,
      "dark": $dark));



// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/bootstrap";


@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumar+One&display=swap');

.masked-text {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0;
  font-family: "Kumar One", serif;
  color: transparent;
  line-height: normal;
  letter-spacing: 0.2rem;
  //background: #fffcd9;
  background: linear-gradient(300deg, #F0E9CA, #ffe790);
  background-size: 180% 180%;
  /* Enlarged for smooth animation */
  background-position: 0 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-background 20s infinite ease;
}

@keyframes animate-background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.title-content {
  width: 95%;
  max-width: 70ch;
  //padding: 3em 1em;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */



body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}



/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.nav-item > a{
  box-shadow: 0;
  transition: all 0.2s linear;
}

.nav-item > a:hover{
  box-shadow: 0px 0px 0px 1px white;
}



/* rtl:end:ignore */


/* Featurettes
  ------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */


.glide{
  padding: 0 1rem;
}

.cu-front-image{
  height: 500px; 
  object-fit: cover;
}

.cu-header{
  background-color: #723034;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */


@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }


}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }

}