<header class="cu-header mb-4 d-flex flex-wrap justify-content-around align-items-center py-3 border-bottom">
    <div class="title-content">
        <h1 class="masked-text">Maeibh Sheehan</h1>
    </div>
    <nav>
        <ul class="nav navbar-expand-sm nav-pills">
            <li class="nav-item">
                <a href="/" class="nav-link {{ 'active' if tag == 'home'}}" aria-current="Home">Home</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link {{ 'active' if tag == 'about'}}">About</a>
            </li>
            <li class="nav-item">
                <a href="/artist-statement" class="nav-link {{ 'active' if tag == 'artistStatement'}}">Artist Statement</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link {{ 'active' if tag == 'contact'}}">Contact</a>
            </li>
        </ul>
    </nav>
</header>