<header class="cu-header mb-4">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-between align-items-center py-3 border-bottom">
            <div class="title-content">
                <h1 class="masked-text">Maeibh Sheehan</h1>
            </div>

            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/" class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Artist Satement</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
        </header>
    </div>
</header>