---
title: About Me
layout: "layout.njk"
tag: about
---
<main>
    <div class="container mb-4">
        <div class="row">
            <div class="container col-12 col-sm-6">
                <img class="cu-profile-image cu-animated-shadow" src="/assets/images/profile pic.png" alt="Maeibh Sheehan Profile Picture" width="500" width="250">

            </div>
            <div class="col-12 col-sm-6">
                <h2 class="display-2 cu-animate-display">Artist Bio</h2>
                <p>
                    Maeibh Sheehan is an Irish artist based in Thurles, County Tipperary. She completed a Bachelor of Fine Art at Limerick School of Art and Design in 2025 specialising in Printmaking. Her primary processes include drypoint etching, phytogram, sound and photography. In her work she aims to explore the interplay of light, shadow, and memory. 
                </p>
                <p>
                    She has showcased her work in multiple exhibitions during her time as a student as well as completing a work experience placement with The Source Arts Centre in Thurles. During her time there she was involved in curating numerous exhibitions with artists such as Gordon Hogan, Debbie Godsell and a collection of work by Patricia Hurl in collaboration with IMMA. She was also heavily involved in the creation of ‘Hothouse’ writers group with local youths who created a publication of work for Cruinnu na Nog (2024).

                </p>
                <p>
                    The title of her final year project “Komorebi” is derived from the Japanese word translating to "sunlight that is filtered through leaves of trees”. Using this as a basis for her work to create a visual and sensory experience. Her prints are accompanied by field recordings overlayed with a light-to-sound device called the Komorebi which utilizes light sensors to translate natural light and shadows into sound. This use of analogue technology was an important aspect in creating a more personal and nostalgic quality in her work.
                </p>
                <p>
                    Complemented by polaroids capturing fleeting tree shadows as well as large scale drypoint etchings of the nightshade plant and Irish hedgerows of rural Tipperary, the Irish landscape and nostalgia, that is both deeply personal to her, and universally resonant in Irish culture.
                </p>
            </div>
        </div>
    </div>
</main>