---
title: Artist Statement
layout: "layout.njk"
tag: artistStatement
---
<main class="cu-hero-container d-flex flex-column justify-content-center align-items-center mb-2">
    <div class="cu-hero-text p-2 mx-4">
        <h2 class="display-2 cu-animate-display">Artist Statement</h2>
        <div class="fs-3">
            <p>
                The title of her final year project “Komorebi” is derived from the Japanese word translating to
                "sunlight that is filtered through leaves of trees”. Using this as a basis for her work to create a
                visual and sensory experience. Her prints are accompanied by field recordings overlayed with a
                light-to-sound device called the Komorebi which utilizes light sensors to translate natural light
                and shadows into sound. This use of analogue technology was an important aspect in creating a more
                personal and nostalgic quality in her work.
            </p>
            <p>
                Complemented by polaroids capturing fleeting tree shadows as well as large scale drypoint etchings
                of the nightshade plant and Irish hedgerows of rural Tipperary, the Irish landscape and nostalgia,
                that is both deeply personal to her, and universally resonant in Irish culture.
            </p>
        </div>

    </div>
</main>